In [1]:
import sys
!{sys.executable} -m ensurepip --upgrade

Looking in links: /tmp/tmpbrqonfuf
Requirement already satisfied: pip in /home/hayato/univercity/venv/lib/python3.12/site-packages (24.0)

In [2]:
%pip install ipython-sql
%pip install prettytable==3.11.0

Requirement already satisfied: ipython-sql in /home/hayato/univercity/venv/lib/python3.12/site-packages (0.5.0)
Requirement already satisfied: prettytable in /home/hayato/univercity/venv/lib/python3.12/site-packages (from ipython-sql) (3.11.0)
Requirement already satisfied: ipython in /home/hayato/univercity/venv/lib/python3.12/site-packages (from ipython-sql) (9.7.0)
Requirement already satisfied: sqlalchemy>=2.0 in /home/hayato/univercity/venv/lib/python3.12/site-packages (from ipython-sql) (2.0.44)
Requirement already satisfied: sqlparse in /home/hayato/univercity/venv/lib/python3.12/site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /home/hayato/univercity/venv/lib/python3.12/site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /home/hayato/univercity/venv/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in /home/hayato/univercity/venv/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/hayato/univercity/venv/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.15.0)
Requirement already satisfied: decorator>=4.3.2 in /home/hayato/univercity/venv/lib/python3.12/site-packages (from ipython->ipython-sql) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers>=1.0.0 in /home/hayato/univercity/venv/lib/python3.12/site-packages (from ipython->ipython-sql) (1.1.1)
Requirement already satisfied: jedi>=0.18.1 in /home/hayato/univercity/venv/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline>=0.1.5 in /home/hayato/univercity/venv/lib/python3.12/site-packages (from ipython->ipython-sql) (0.2.1)
Requirement already satisfied: pexpect>4.3 in /home/hayato/univercity/venv/lib/python3.12/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in /home/hayato/univercity/venv/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.52)
Requirement already satisfied: pygments>=2.11.0 in /home/hayato/univercity/venv/lib/python3.12/site-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: stack_data>=0.6.0 in /home/hayato/univercity/venv/lib/python3.12/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in /home/hayato/univercity/venv/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: wcwidth in /home/hayato/univercity/venv/lib/python3.12/site-packages (from prettytable->ipython-sql) (0.2.14)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /home/hayato/univercity/venv/lib/python3.12/site-packages (from jedi>=0.18.1->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: ptyprocess>=0.5 in /home/hayato/univercity/venv/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /home/hayato/univercity/venv/lib/python3.12/site-packages (from stack_data>=0.6.0->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: asttokens>=2.1.0 in /home/hayato/univercity/venv/lib/python3.12/site-packages (from stack_data>=0.6.0->ipython->ipython-sql) (3.0.1)
Requirement already satisfied: pure-eval in /home/hayato/univercity/venv/lib/python3.12/site-packages (from stack_data>=0.6.0->ipython->ipython-sql) (0.2.3)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: prettytable==3.11.0 in /home/hayato/univercity/venv/lib/python3.12/site-packages (3.11.0)
Requirement already satisfied: wcwidth in /home/hayato/univercity/venv/lib/python3.12/site-packages (from prettytable==3.11.0) (0.2.14)
Note: you may need to restart the kernel to use updated packages.

In [3]:
%load_ext sql
%sql sqlite:///myex.db
%config SqlMagic.autopandas=False
%config SqlMagic.displaycon=False

In [4]:
def tables():
    tables = %sql select tbl_name from sqlite_master where type="table" or type="view"
    return list(tables)

In [5]:
def schema(tbl_name="*"):
    schema = %sql select sql from sqlite_master where type="table" and tbl_name="{tbl_name}"
    return schema

In [6]:
%%sql
drop table if exists 商品; /*すでに商品テーブルがあれば削除*/
create table 商品(
    商品番号 char(3) not null,
    商品名 varchar(20),
    価格 int,
    primary key(商品番号)
);

Done.
Done.

[]

In [7]:
%%sql
drop table if exists 顧客; /*すでに顧客テーブルがあれば削除*/
create table 顧客(
    顧客番号 int not null,
    顧客名 varchar(20),
    住所 varchar(100),
    primary key(顧客番号)
);

Done.
Done.

[]

In [12]:
tables()

Done.

[('商品',), ('顧客',)]

In [13]:
schema("商品")

Done.

[('CREATE TABLE 商品(\n    商品番号 char(3) not null,\n    商品名 varchar(20),\n    価格 int,\n    primary key(商品番号)\n)',)]