In [3]:
import sys
!{sys.executable} -m ensurepip --upgrade

Looking in links: /tmp/tmp5qy0tkkh
Requirement already satisfied: pip in /home/hayato/univercity/venv/lib/python3.12/site-packages (24.0)

In [4]:
%pip install ipython-sql
%pip install prettytable==3.11.0

Requirement already satisfied: ipython-sql in /home/hayato/univercity/venv/lib/python3.12/site-packages (0.5.0)
Requirement already satisfied: prettytable in /home/hayato/univercity/venv/lib/python3.12/site-packages (from ipython-sql) (3.11.0)
Requirement already satisfied: ipython in /home/hayato/univercity/venv/lib/python3.12/site-packages (from ipython-sql) (9.7.0)
Requirement already satisfied: sqlalchemy>=2.0 in /home/hayato/univercity/venv/lib/python3.12/site-packages (from ipython-sql) (2.0.44)
Requirement already satisfied: sqlparse in /home/hayato/univercity/venv/lib/python3.12/site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /home/hayato/univercity/venv/lib/python3.12/site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /home/hayato/univercity/venv/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in /home/hayato/univercity/venv/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/hayato/univercity/venv/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.15.0)
Requirement already satisfied: decorator>=4.3.2 in /home/hayato/univercity/venv/lib/python3.12/site-packages (from ipython->ipython-sql) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers>=1.0.0 in /home/hayato/univercity/venv/lib/python3.12/site-packages (from ipython->ipython-sql) (1.1.1)
Requirement already satisfied: jedi>=0.18.1 in /home/hayato/univercity/venv/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline>=0.1.5 in /home/hayato/univercity/venv/lib/python3.12/site-packages (from ipython->ipython-sql) (0.2.1)
Requirement already satisfied: pexpect>4.3 in /home/hayato/univercity/venv/lib/python3.12/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in /home/hayato/univercity/venv/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.52)
Requirement already satisfied: pygments>=2.11.0 in /home/hayato/univercity/venv/lib/python3.12/site-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: stack_data>=0.6.0 in /home/hayato/univercity/venv/lib/python3.12/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in /home/hayato/univercity/venv/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: wcwidth in /home/hayato/univercity/venv/lib/python3.12/site-packages (from prettytable->ipython-sql) (0.2.14)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /home/hayato/univercity/venv/lib/python3.12/site-packages (from jedi>=0.18.1->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: ptyprocess>=0.5 in /home/hayato/univercity/venv/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /home/hayato/univercity/venv/lib/python3.12/site-packages (from stack_data>=0.6.0->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: asttokens>=2.1.0 in /home/hayato/univercity/venv/lib/python3.12/site-packages (from stack_data>=0.6.0->ipython->ipython-sql) (3.0.1)
Requirement already satisfied: pure-eval in /home/hayato/univercity/venv/lib/python3.12/site-packages (from stack_data>=0.6.0->ipython->ipython-sql) (0.2.3)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: prettytable==3.11.0 in /home/hayato/univercity/venv/lib/python3.12/site-packages (3.11.0)
Requirement already satisfied: wcwidth in /home/hayato/univercity/venv/lib/python3.12/site-packages (from prettytable==3.11.0) (0.2.14)
Note: you may need to restart the kernel to use updated packages.

In [5]:
%load_ext sql
%sql sqlite:///myex.db
%config SqlMagic.autopandas=False
%config SqlMagic.displaycon=False

In [6]:
def tables():
    tables = %sql select tbl_name from sqlite_master where type="table" or type="view"
    return list(tables)

def schema(tbl_name="*"):
    schema = %sql select sql from sqlite_master where type="table" and tbl_name="{tbl_name}"
    return schema

In [7]:
%%sql
drop table if exists 注文;
drop table if exists 座席;
drop table if exists メニュー;

create table メニュー(
    メニュー番号 char(3) not null,
    メニュー名 varchar(30),
    価格 int,
    原価 int,
    primary key(メニュー番号)
);

create table 座席(
    座席番号 char(3) not null,
    種別 varchar(20),
    喫煙 varchar(10),
    primary key(座席番号)
);

create table 注文(
    注文番号 int not null,
    座席番号 char(3),
    メニュー番号 char(3),
    時刻 real,
    primary key(注文番号),
    foreign key(座席番号) references 座席(座席番号),
    foreign key(メニュー番号) references メニュー(メニュー番号)
);

Done.
Done.
Done.
Done.
Done.
Done.

[]

In [8]:
%%sql
insert into メニュー values('M01', 'ライトセット１', 300, 100);
insert into メニュー values('M02', 'ライトセット２', NULL, 250);
insert into メニュー values('M11', 'セット１', 650, 200);
insert into メニュー values('M12', 'セット１', 650, 250);
insert into メニュー values('M20', 'スペシャルセット', NULL, 850);

/* 座席データの挿入 */
insert into 座席 values('001', 'カウンター', '不可');
insert into 座席 values('002', 'テーブル', '不可');
insert into 座席 values('003', 'テーブル', '可');
insert into 座席 values('004', 'テーブル', '可');

/* 注文データの挿入 */
insert into 注文 values(1, '002', 'M12', 10.75);
insert into 注文 values(2, '001', 'M20', 11.25);
insert into 注文 values(3, '004', 'M20', 11.75);
insert into 注文 values(4, '001', 'M12', 12.25);
insert into 注文 values(5, '003', 'M01', 12.75);
insert into 注文 values(6, '002', 'M11', 13.25);
insert into 注文 values(7, '001', 'M20', 14.00);
insert into 注文 values(8, '004', 'M02', 14.50);

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [9]:
%%sql

update メニュー
set 価格 = 原価 + 200
where 価格 is null;

update メニュー
set 価格 = 価格 * 1.2;

2 rows affected.
5 rows affected.

[]

In [10]:
%%sql

select * from メニュー;

Done.

[('M01', 'ライトセット１', 360, 100),
 ('M02', 'ライトセット２', 540, 250),
 ('M11', 'セット１', 780, 200),
 ('M12', 'セット１', 780, 250),
 ('M20', 'スペシャルセット', 1260, 850)]

In [ ]:
%%sql
drop view if exists 低原価率メニュー一覧; /

create view 低原価率メニュー一覧 as
select メニュー番号, 価格, 原価
from メニュー
where 原価 <= 価格 * 0.3;

select メニュー番号
from 注文
where 時刻 >= 12
  and 座席番号 in ('002', '003', '004');

Done.
Done.
Done.

[('M01',), ('M11',), ('M02',)]

In [16]:
%%sql

select * from 低原価率メニュー一覧;

Done.

[('M01', 360, 100), ('M11', 780, 200)]